{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block content %}
<h3>{% trans 'Profile' %}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th><b>name</b></th>
      <th colspan=2><b>Action</b></th>
    </tr>
  </thead>
  <tbody>
    {% for profile in profile_list %}
    <tr>
      <td>
        <a href="{% url 'profile:detail' pk=profile.id %}">{{ profile.pk }}</a>
      </td>
      <td>{{ profile.name }}</td>


    </tr>
    {% endfor %}
    <tr>
      <td colspan=6></td>
    </tr>
  </tbody>
</table>
{% endblock content %}
